.project
.cproject
makefile
objects.mk
sources.mk
subdir.mk
/Debug/
/Release/
/.vs/
/x64/
*.d
*.o
*.a
*.obj
*.exe
*.lib
*.ilk
*.dsp
*.DSP
*.dsw
*.DSW
*.pch
*.pcb
*.bsc
*.aps
*.APS
*.pdb
*.plg
vc60.*
*.ncb
*.OPT
*.PLG
*.plg
*.opt
*.zip
*.tar
*.gz
*.dll
*.DLL
*.log
*.LOG
*.dhe
*.fts
*.sbr
*.SBR
*.map
*.MAP
*.EXE
*.OBJ
*.LIB
*.sdf
*.dmp
c_fct.h
*.lst
/.vs/
*.PLG
*.dmp
/.settings/
*.vcxproj
*.filters
*.user
*.chm
*.chw
*.hhc~
*.hhp~
gitversion.h
MemSource.h
/Default/
Setup/
.autotools
/.deps/
/Resourcelib/.deps/
/tutlib2/.deps/
Makefile.in
aclocal.m4
/autom4te.cache/
/bin/
/lib/
config.log
config.status
configure
/intl/
libtool
Makefile
UpgradeLog.htm
UpgradeLog2.htm
.Tpo
stamp-h*
config.h.in~
loadmap.txt
/m4/Makefile
/build-aux/Makefile
config.h
